
$dark-green: #7bb801;
$light-green: #c4e76f;

$breakpoints: (
  'small': (max-width: 320px),
  'medium': (max-width: 768px),
  'large': (max-width: 1024px)
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
  @else {
    @error 'No value found for `#{$breakpoint}`.' +
           'Please make sure it is defined in `$breakpoints` map.';
  }

}

body {
  padding: 0px;
  margin: 0px;
  position: absolute;
}

section {
  position: relative;
}

.banner {
  position: relative;
  width: 100%;
  color: white;
}

.central {
  position: relative;
  margin: 0 auto 0 auto;
  width: 72%;        
  @include respond-to('large') {
    width: 96%;
  }
  @include respond-to('medium') {
    background-color: red;
    width: 72%;
  }

}

.banner1 { 
  background: url("../images/banner-bg.png") no-repeat; 
  height: 49vw;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  #contact-number {
    position: relative;
    top: 20px;
    right: 20px;
    float:right;
    font-size: 14px;
    img {
      margin-bottom: -3px;
      height: 14px;
    }
  }

  #slogan {
    position:relative; 
    width: 60%;
    top: 13vw;
    margin: 0 auto;
    h1 {

    }
    h2 {

    }
    h3 {
      color: $light-green;
    }
  }
} 

.systema {
  height: 500px;
  h3 {
    color: $dark-green;
    position: relative;
    right: 5vw;
    float: right;
  }
  #video {
    position: relative;
    top: 60px;
    float: left;
    width: 50%;
    margin: 0;
    video {
      height: 100%;
      width: 100%;
      background: transparent url('../images/video-poster.png') 50% 50% no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }

  #text-info {
    width: 47%;
    position: relative;
    float: right;
    ul {
     list-style:none;
    }
    ul img {
      height: 12px;
      margin-right: 3px;
      margin-bottom:-1px;
    }
  }

  
}

.inline-box {
  display: inline-block;
  text-align: center;
  vertical-align: top;

}

.banner2 { 
  background-color: transparent; 
  height: 560px;
  .partnership {
    text-align: center;
    .inline-box {
      width:160px;
      height: 250px;
      background-color: black;
      opacity: 0.7;
      margin: 0 2.7% 0 0;
      -moz-border-radius: 5%;
      -webkit-border-radius: 5%;
      -o-border-radius: 5%;
      border-radius: 5%;
      img {
        width: 60px;
        padding: 40px 40px 10px 40px;
      }
      h {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
.banner2-shadow { 
  position: absolute;
  top: 0;
  background: url("../images/partnership-bg.png") no-repeat center; 
  height: 560px;
  z-index: -1;
  -moz-background-size: auto 100%;
  -webkit-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  
  p {
    font-size: 12px;
    position: relative;
    top: 520px;
    right: 10px;
    float: right;
  }
}

.contact {
  height: 32vw;
  h {
    position:relative;
    float: left;
    width: 50%;
    margin-top: 20%;
    font-size: 28px;
    color: $dark-green;
  }
  form {
    margin-top: 10%;
    position: relative;
    width: 50%;
    float: right;
    -webkit-appearance: none;
    -moz-appearance:none;
    -o-appearance:none;
    appearance:none;
    input, textarea {
      width: 100%;
      font-size: 12px;
      padding: 10px 20px;

    }
    #email{
      height: 40px;
      border: 1px solid;
    }
    textarea {
      width: 90%;
      height: 100px;
      border-style: none;
    }
    #submit {
      height: 45px;
      box-shadow: none;
      color: white;
      font-size: 16px;
      background-color: $dark-green;
      border: 1px solid white;
    }
    
  }
}

footer {
  position: relative;
  height: 320px;
  width: 100%;
  background-color: rgba(66,66,67,1);
  text-align: center;
  .central {
    color: white;
    width: 72%;
    padding-top: 40px;
    height: 260px;
    .inline-box {
      width: 160px;
      height: 200px;
      img {
        width: 60px;
        padding: 0 20px 10px 20px;
      }
      h {
        font-family: 16px;
      }
      p {
        font-size: 12px;
      }
    }
    #pagination {
      border-top: 1px solid rgba(56, 56, 56, 1);
      height: 40px;
    }
  }
  #green-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #c4e76f;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
  }
}

